/* CONTAINER PRINCIPAL */
.conteiner {
    height: 60%;
    margin: 1rem 0rem 4rem 0rem;
    padding: 3rem 2rem;
    border-radius: 20px;
    width: 60%;
    overflow-y: auto;
    max-height: 80vh;

    background: rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255, 0, 0, 0.35);
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.25), inset 0 0 20px rgba(0, 0, 0, 0.8);

    scrollbar-width: thin;
    color: #fff;
    font-family: 'Cinzel', serif;
}

/* SCROLL WEBKIT */
.conteiner::-webkit-scrollbar {
  width: 8px;
}

.conteiner::-webkit-scrollbar-thumb {
  background: #e60012;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.8);
}

.conteiner::-webkit-scrollbar-track {
  background: transparent;
}

/* TÍTULO */
.titulo {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.6rem;
  font-family: 'Cinzel', serif;
  font-weight: bold;

  text-shadow:
    0 0 8px #ff0000,
    0 0 18px #b30000,
    0 0 28px #800000;

  color: #ffffff;
  letter-spacing: 3px;
}

/* FORM */
.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* INPUT BOX */
.campo {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ff1a1a;
}

.input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #aa0000;
  background: rgba(10, 10, 10, 0.7);
  color: #fff;
  transition: 0.3s;
}

.input:focus {
  outline: none;
  border-color: #ff1a1a;
  box-shadow: 0 0 8px #ff0000;
}

.erroTexto {
  color: #ff4444;
  font-size: 12px;
  margin-top: 4px;
}

/* BOTÕES */
.botaoPrincipal,
.botaoLocalizacao {
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  border: none;
  transition: 0.3s ease;
}

.botaoPrincipal {
  background: #0e3e66;
  color: white;
}

.botaoPrincipal:hover {
  transform: scale(1.05);
}

.botaoLocalizacao {
  margin-top: 10px;
  background: #265627;
  color: white;
}

.botaoLocalizacao:hover {
  transform: scale(1.05);
}

/* MAPA */
.mapa {
  height: 500px;
  width: 100%;
  border: 1px solid rgba(255, 0, 0, 0.35);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.25);
  margin-top: 1rem;
}

/* INSTRUÇÕES */
.instrucoes {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;

  background: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 0, 0, 0.35);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);

  font-family: 'Cinzel', serif;
  color: #fff;
}
